<div class="card">
    <div class="row row-md-2">
        <div class="col">
            <div class="card-header">
                <h3>Tesla Model X</h3>
                <p>Automatic/Manual</p>
            </div>
            <div class="card-body">
                <div class="container">
                    <span class="number">$298</span><span class="day">/day</span>
                </div>
            </div>
        </div>
        <div class="col imgCol">
            <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2ccc.png" alt="">
        </div>
    </div>
</div>

<div class="card">
    <div class="row row-md-2">
        <div class="col">
            <div class="card-header">
                <h3>Tesla Model X</h3>
                <p>Automatic/Manual</p>
            </div>
            <div class="card-body">
                <div class="container">
                    <span class="number">$159</span><span class="day">/day</span>
                </div>
            </div>
        </div>
        <div class="col imgCol">
            <img src="https://lh3.googleusercontent.com/drive-storage/AKHj6E7zjkNx2zQWp12kSKh6NALB0XXzp8rH98OsdjfFIQNhhq-AL2q-I6hYRRqL8rXNee2Zg_t0Ku0_44i4GGqSa9KY3W-OdeRLvorJAuG1=w1920-h955"
                alt="">
        </div>
    </div>
</div>

<div class="card">
    <div class="row row-md-2">
        <div class="col">
            <div class="card-header">
                <h3>Tesla Model X</h3>
                <p>Automatic/Manual</p>
            </div>
            <div class="card-body">
                <div class="container">
                    <span class="number">&nbsp;$85</span><span class="day">/day</span>
                </div>
            </div>
        </div>
        <div class="col imgCol">
            <img src="https://assets.stickpng.com/images/580b585b2edbce24c47b2ccc.png" alt="">
        </div>
    </div>
</div>